$activeColor: rgb(102, 102, 127);
$lightActive: lighten($activeColor, 10%);
$baseColor: lightcyan;
$lightBase: lighten(lightcyan, 10%);
$headFont: 'Righteous', cursive;
$bodyFont: 'Archivo', sans-serif;